body{
    margin: auto;
    width: 1200px;
    background-color: gray;
    color: white;
}
h1:first-child{
    font-variant: small-caps;
}
nav{
    text-align: center;
    font-variant: small-caps;
    word-spacing: 65px;
}
a{
    text-decoration: none;
    color: white;
}
.second{
    text-transform: capitalize !important;
    line-height: 1.2;
}
aside{
    float: right;
    border: 5px inherit;
}
input{
    border:0px;
    text-decoration: underline orange ;
    background-color: black;
    color: white;
}
.nound{
    text-decoration: none;
    margin-left: 26px;
    padding: 5px 5px;
    width: 100px;
    background-color: rgb(218, 110, 1);
}
form{
    background-color: black;
    color: white;
    padding: 7px;
}
p:last-child{
    text-align: center;
    margin-top: -15px;
    font-style: oblique;
}
.last{
    background-color: coral;
    border:1.7px solid rgb(218, 110, 1);
    border-radius:20px;
    padding: 7px 14px;
    color: rgba(16, 16, 16,1);
}
.last:hover{
    color: white;
}
a:hover{
    color: coral;
}
.search{
    text-decoration: none;
}
.lastf{
    background-color: inherit;
    float: right;
}